manifest {
    mainScript = 'read_split.nf'
}

// default parameters
params {
    max_cores = Runtime.runtime.availableProcessors()
    cores = Runtime.runtime.availableProcessors()
    memory = '12'
    help = false
    profile = false

    // inputs
    fastq = ''
    fastq_pass = ''
    list = false
    samples = ''
    demultiplex = false
    read_until = ''
    read_qc = false
    seq_summary = ''
    barcode_kit = ''
    single = ""

    // settings

    guppy_cpu = false
    guppy_model = 'dna_r9.4.1_450bps_hac.cfg'

    // folder structure
    cachedir = "singularity_images"
    databases = "databases"

    output = 'results'
    runinfodir = "X.Pipeline-runinfo"
}

// runinfo
timeline {
  enabled = true
  overwrite = true  
  file = "${params.output}/runinfo/execution_timeline.html"
}

report {
  enabled = true
  overwrite = true    
  file = "${params.output}/runinfo/execution_report.html"
}

profiles {
    local {
        workDir = "work/nextflow-poreCov-$USER"
        includeConfig 'configs/local.config'
        executor {
            name = "local"
            cpus = params.max_cores
            memory = params.memory
        }
    }
    docker {
        docker { enabled = true }
        includeConfig 'configs/container.config'
    }
}
